@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <form method="post">
        <div class="form-group">
            <label for="text">Текст для оценки:</label>
            <textarea id="text" name="text" rows="5" cols="50" class="form-control"></textarea>
        </div>
        <div class="form-group mt-3">
            <label for="country">Страна:</label>
            <select id="country" name="country" class="form-control">
                <option value="Russia">Russia</option>
                <option value="France">France</option>
                <option value="Germany">Germany</option>
                <option value="USA">USA</option>
                <option value="India">India</option>
            </select>
        </div>
        <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary">Отправить</button>
        </div>
    </form>
</div>
